* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-image: url(https://i.pinimg.com/736x/68/e6/1b/68e61bce48cb1839e2d4be8e41531012.jpg);
}

img {
  height: calc(12vh + 12vw);
  width: calc(12vh + 12vw);
}

header {
  background-image: url(https://st.depositphotos.com/1035837/3924/i/950/depositphotos_39247045-stock-photo-wood-fence-background.jpg);
  background-size: 50%;
}

.brand {
  font-size: 4rem;
  text-align: center;
  background-image: url(https://img.pikbest.com/wp/202343/versatiles-top-view-of-natural-green-leaves-texture-background-versatile-copy-space-for-banners-wallpapers-and-more_9985956.jpg!w700wp);
  background-size: 40%;
  color: white;
  margin: 0 10rem 0 10rem;
  border-radius: 0 0 4rem 4rem;
  box-shadow: 1rem 1rem 1rem black;
}

#navbar{
  text-align: center;
}

.header-buttons {
  font-size: 2rem;
  width: calc(4vh + 12vw);
  background-color: rgb(0, 209, 0);
}


li {
  display: inline;
  font-size: 3rem;
  margin: 6rem;
}

.container {
  text-align: center;
  margin: 0 3rem 3rem 3rem;
  padding: calc(2vh + 2vw);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 5rem;
  color: white;
  font-size: calc(1vh + 1vw);
}

.container button {
  border-radius: 10rem;
  background-color: white;
  font-size: calc(1vh + 2vw);
  padding: 0 3rem 0 3rem;
  margin: 0 1rem 1rem 1rem;
}

.index-header {
  text-align: center;
  font-size: calc(4vh + 4vw);
  background-color: rgba(0, 128, 0, 0.722);
  margin: 2rem 5rem 0 5rem;
  border-radius: 5rem;
  color: white;
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
}

.card {
  background-color: rgba(0, 0, 0, 0.693);
  margin: calc(1vh + 1vw);
  border-radius: 3rem;
  box-shadow: 1rem 1rem 1rem black;
  padding: calc(1vh + 1vw);
}

.card h2 {
  background-color: white;
  color: black;
  margin: calc(1vh + 1vw);
  font-size: calc(2vh + 2vw);
  border-radius: 4rem;
}

