* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-image: url(https://i.pinimg.com/736x/68/e6/1b/68e61bce48cb1839e2d4be8e41531012.jpg);
}

img {
  height: calc(12vh + 12vw);
  width: calc(12vh + 12vw);
}

#navbar{
  display: flex;
  flex-direction: row;
  background-color: red;
  padding: 1rem;
}

#navbar h1 {
  font-size: 3rem;
}

li {
  display: inline;
  font-size: 3rem;
  margin: 10rem;
}

.container {
  background-color: rgba(0, 128, 0, 0.722);
  text-align: center;
  margin: 1rem 3rem 5rem 3rem;
  padding: calc(2vh + 2vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5rem;
  box-shadow: 2rem 2rem 10rem black;
  color: white;
  font-size: calc(1vh + 1vw);
}

.container button {
  border-radius: 10rem;
  background-color: white;
  font-size: calc(1vh + 2vw);
  padding: 0 3rem 0 3rem;
  margin: 0 1rem 1rem 1rem;
}

.index-header {
  text-align: center;
  font-size: calc(4vh + 4vw);
  background-color: rgba(0, 128, 0, 0.722);
  margin: 2rem 5rem 0 5rem;
  border-radius: 5rem;
  color: white;
  box-shadow: 1rem 1rem 1rem black;
  text-decoration: underline;
}

.card {
  background-color: rgba(0, 0, 0, 0.693);
  margin: calc(1vh + 1vw);
  border-radius: 3rem;
  box-shadow: 1rem 1rem 1rem black;
  padding: calc(1vh + 1vw);
}

.card h2 {
  background-color: white;
  color: black;
  margin: calc(1vh + 1vw);
  font-size: calc(2vh + 2vw);
  border-radius: 4rem;
}

