@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merienda:wght@300..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+Mono:wght@100..900&family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  background-image: url(https://i.pinimg.com/736x/68/e6/1b/68e61bce48cb1839e2d4be8e41531012.jpg);
}

img {
  max-width: 100%;
  max-height: 100%;
}

header {
  background-image: url(https://static.vecteezy.com/system/resources/previews/024/494/413/large_2x/cobblestoned-pavement-green-moss-between-brick-background-old-stone-pavement-texture-cobbles-closeup-with-green-grass-in-the-seams-stone-paved-walkway-in-old-town-free-photo.jpg);
  background-size: cover;
  box-shadow: 0 1rem 2rem black;
}

.brand {
  font-size: 4em;
  text-align: center;
  background-image: url(https://img.pikbest.com/wp/202343/versatiles-top-view-of-natural-green-leaves-texture-background-versatile-copy-space-for-banners-wallpapers-and-more_9985956.jpg!w700wp);
  background-size: 40%;
  color: white;
  margin: 0;
  border-radius: 0 0 4rem 4rem;
  box-shadow: 1rem 1rem 1rem black;
  font-family: orbitron;
  text-shadow: 1rem 1rem 1rem black;
}

a {
  text-decoration: none;
}

#navbar{
  text-align: center;
}

li {
  display: inline;
}

.container {
  text-align: center;
  margin: 0 3rem 0 3rem;
  padding: calc(2vh + 2vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 5rem;
  color: white;
  font-size: calc(1vh + 1vw);
}

@media (max-width: 992px) {
  .container {  grid-template-columns: auto;}
}

.container button {
  border-radius: 10rem;
  background-color: white;
  font-size: 150%;
  padding: 0 2em 0 2em;
  margin: 0 1em 0 1em;
  width: 10em;
  border-radius: 2em;
}

.index-header {
  text-align: center;
  font-size: calc(3vh + 3vw);
  background-image: url(https://st.depositphotos.com/1022150/2359/i/950/depositphotos_23599473-stock-photo-soil-and-grass-background.jpg);
  background-size: contain;
  margin: 0 10% 0 10%;
  border-radius: 0 0 4rem 4rem;
  color: white;
  box-shadow: 1rem 1rem 1rem black;
  font-family: orbitron;
  text-shadow: rgb(0, 0, 0) 10px 0 10px;
}

.card {
  background-color: rgba(0, 0, 0, 0.693);
  margin: calc(1vh + 1vw);
  border-radius: 1rem;
  box-shadow: 1rem 1rem 1rem black;
  padding: 5% ;
  font-size: calc(.7vh + 1vw);
}

.card img {
  height: 80%;
  width: 100%;
}

.card h2 {
  background-color: aliceblue;
  color: black;
  margin: 0;
  font-size: 150%;
  border-radius: 4em 4em 0 0;
  font-family: Montserrat Alternates;
}

.bottom-text {
  background-color: white;
  color: black;
  border-radius: 0 0 3em 3em;
}

.homepage {
  background-image: url(https://media0.giphy.com/media/xdkXW7Scx6gus/giphy.gif?cid=6c09b9522s8ntrctq1fh4jv7mcbuf9yq2kaxfsmb0o0hdbk6&ep=v1_internal_gif_by_id&rid=giphy.gif&ct=g);
  background-size: cover;
  margin: 2em 1em 0 1em;
  box-shadow: 1rem 1rem 2rem black;
  color: white;
  text-align: center;
  border-radius: 2rem;
  border: solid;
}

.homepage h1 {
  font-size: calc(3vh + 3vw);
  margin: 0 0 3rem 0;
  border-radius: 4rem;
  font-family: Montserrat Alternates;
}

.homepage p {
  font-size: calc(2vh + 2vw);
  margin: 0 2em 5rem 2em;
  border-radius: 4rem;
  font-family: Noto Sans Mono;
}

.schedules-index {
  text-align: center;
}

.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: default;
  display: inline-block;
  font-family: orbitron,-apple-system,system-ui,Roboto,sans-serif;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: calc(1vh + 1vw);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 15px 1em 15px 1em;
}

header .button-33 {
  width: 25%;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: rgb(0, 128, 0);
  color: white;
}

footer {
  background-color: rgba(240, 248, 255, 0.66);
  text-align: center;
}

footer img {
  width: calc(2.5vh + 2.5vw);
  margin: 1em;
}
